body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #191919;
  font-size: 2em;
}

table{
  align-self: center;
  border-spacing: 5px;
}

input{
  background: transparent;
  border: 3px solid #abab;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
  color: #FFF
}

td{
  border: 2px solid rgb(255, 255, 255, 0.5);
  background: #100a10;
  color: #cecece;
  width: 5vw;
  height: 5vw;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-radius: 10px;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.placar{
  width: 28vw;
  padding: 0;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  font-family: 'Bebas Neue', cursive;
}

.placar p{
  line-height: 0.2em;
  font-size: 0.7em;
  color: #cecece;
}

.githubButton{
  color: black;
  align-self: center;
  justify-self: center;
  margin-top: 30px;
}

.githubButton img{
  width: 1vw;
  height: 1vw;
  vertical-align: center;
}

.githubButton a{
  color: #cecece;
  margin-left: 5px;
  text-decoration: none;
  font-size: 0.5em;
}

.fimDeJogo{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  font-family: 'Bebas Neue', cursive;
  align-self: center;
  height: 70vh;
}

#links{
  font-size: 0.5em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

#links a{
  color: rgb(43, 155, 63);
  text-decoration: none;

}

#mensagem {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#mensagem span{
  text-align: center;
  font-size: 2em;
  color: #cecece;
}

#mensagem p{
  text-align: center;
  color: #cecece;
}

.tentativas{
  margin-top: -10vh;
  text-align: center;
  font-size: 0.7em;
}
